/*Reset thuộc tính của thẻ, dấu * tượng trưng cho tất cả các thẻ
*/
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
header {
  background-color: red;
  /* padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; */
  padding: 20px 0;
}

.header-content {
  background-color: antiquewhite;
  width: 80%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  text-decoration: none;
  color: white;
}
.brand i,
span {
  font-size: 32px;
}
/* .brand span {
  font-size: 32px;
} */
.menu ul li {
  list-style: none;
  display: inline;
  margin-left: 25px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.5s;
}
.menu ul li.active a {
  color: red;
}
.menu ul li:hover a {
  color: red;
}
